/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;

  background: hsl(225, 100%, 94%) url("images/pattern-background-desktop.svg")
    no-repeat top center;
  padding: 2rem;
}

.card {
  max-width: 44rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 10rem;
  box-shadow: 0px 5px 40px -35px;
}
.card-img {
  width: 100%;
}

.card-content {
  text-align: center;
  padding: 4rem;
  display: grid;
  gap: 3.5rem;
  line-height: 1.5;
}
h1 {
  color: hsl(223, 47%, 23%);
  font-size: 2.8rem;
  line-height: 1;
}
.card-content > p {
  color: hsl(224, 23%, 55%);
}

.card-plan {
  padding: 2rem;
  background-color: hsl(225, 100%, 98%);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
}
.card-plan a {
  align-self: center;
  color: hsl(245, 75%, 52%);
  font-size: 1.4rem;
  font-weight: 700;
}
.card-plan a:hover {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}

.card-icon,
.card-price {
  justify-self: start;
}
.card-price p:first-child {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
.card-price p:last-child {
  color: hsl(224, 23%, 55%);
  text-align: start;
}

.card-btn {
  background-color: hsl(245, 75%, 52%);
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  padding: 1.25rem;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(56, 41, 224, 0.3);
}
.card-btn:hover {
  background-color: hsl(245, 83%, 68%);
}

.card-content span {
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  color: hsl(224, 23%, 55%);
}

.card-content span:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  max-width: 44rem;
  margin: 0 auto;
  margin-top: 2rem;
}

/* Media queries */
/* 448px */
@media (max-width: 28em) {
  .card-content {
    padding: 2.5rem;
  }
  .card-icon {
    width: 40px;
  }
}
/* 368 px */
@media (max-width: 23em) {
  html {
    font-size: 56.25%;
  }
}
